.dialog {
  &__overlay {
    background: var(--overlay);
    display: grid;
    overflow-y: auto;
    place-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }

  &__content {
    background-image: linear-gradient(var(--bg-content), var(--bg-content)),
      linear-gradient(var(--bg-base), var(--bg-base));
    color: var(--text);
    outline: 1px solid var(--outline-color);
    user-select: none;

    &[data-size="standard"] {
      width: 448px;
    }

    &[data-size="min"] {
      width: 320px;
    }

    &[data-size="max"] {
      width: 540px;
    }
  }

  &__footer {
    background: var(--bg-footer);
    display: flex;
    justify-content: flex-end;

    > button {
      flex: 1 0 auto;
      max-width: 50%;
    }
  }

  .windows & {
    --overlay: var(--dui-windows-background-fill_color-smoke-default);

    &__content {
      --bg-base: var(--dui-windows-background-fill_color-solid_background-base);
      --bg-content: var(--dui-windows-background-fill_color-layer-alt);
      --outline-color: var(--dui-windows-stroke_color-surface_stroke-default);
      --text: var(--dui-windows-fill_color-text-primary);
      --bg-footer: var(
        --dui-windows-background-fill_color-mica_background-base
      );
      --bg-footer-stroke: var(--dui-windows-stroke_color-card_stroke-default);
      box-shadow: 0px 2px 21px 0px hsla(0, 0%, 0%, 0.15),
        0px 32px 64px 0px hsla(0, 0%, 0%, 0.19); /* TODO: check if there's a token for this */
      border-radius: 7px; /* TODO: use a variable */
      padding: 24px; /* TODO: use a variable */
    }

    &__title {
      font-size: 20px; /* TODO: use a variable */
      font-weight: 600;
      line-height: 28px; /* TODO: use a variable */
      margin: 0 0 12px; /* TODO: use a variable */
    }

    &__description {
      font-size: 14px;
      line-height: 20px;
    }

    &__footer {
      border-top: 1px solid var(--bg-footer-stroke);
      border-radius: 0 0 7px 7px; /* TODO: use a variable */
      gap: 8px; /* TODO: use a variable */
      margin: 24px -24px -24px; /* TODO: use a variable */
      padding: 24px; /* TODO: use a variable */
    }
  }
}
