.button {
  all: unset;
  cursor: default;
  text-align: center;
  user-select: none;
  border-color: var(--border);
  background-color: var(--fill);
  color: var(--text);

  :global .windows & {
    box-shadow: inset 0px var(--elevation-y) 0px 0px var(--elevation-stroke),
      inset 0px 0px 0px 1px var(--stroke);
    outline-color: var(--dui-windows-stroke_color-focus_stroke-outer);
    font-size: 14px;
    padding: 6px 20px;
    line-height: 20px;
    border-radius: 4px;

    --fill: var(--dui-windows-fill_color-control-default);
    --text: var(--dui-windows-fill_color-text-primary);
    --focus-outline: var(--dui-windows-stroke_color-focus_stroke-outer);
    --stroke: var(--dui-windows-stroke_color-control_stroke-default);
    --elevation-y: -1px;

    @media (prefers-color-scheme: dark) {
      --elevation-y: 1px;
    }

    &[disabled] {
      --fill: var(--dui-windows-fill_color-accent-disabled);
      --text: var(--dui-windows-fill_color-text-disabled);
      --elevation-stroke: transparent;
      --stroke: var(--dui-windows-stroke_color-control_stroke-default);
    }

    &:not([disabled]) {
      --elevation-stroke: var(
        --dui-windows-stroke_color-control_stroke-secondary
      );
      --stroke: var(--dui-windows-stroke_color-control_stroke-default);

      &:hover {
        --fill: var(--dui-windows-fill_color-control-secondary);
        --text: var(--dui-windows-fill_color-text-primary);
      }

      &:active {
        --fill: var(--dui-windows-fill_color-control-tertiary);
        --text: var(--dui-windows-fill_color-text-secondary);
        --elevation-stroke: transparent;
        --stroke: var(--dui-windows-stroke_color-control_stroke-default);
      }
    }

    &.accent {
      --fill: var(--dui-windows-fill_color-accent-default);
      --stroke: var(--dui-windows-stroke_color-control_stroke-default);

      /* text */
      --text: var(--dui-windows-fill_color-text_on_accent-primary);

      &[disabled] {
        --fill: var(--dui-windows-fill_color-accent-disabled);
        --text: var(--dui-windows-fill_color-text_on_accent-disabled);
      }

      &:not([disabled]) {
        --elevation-stroke: var(
          --dui-stroke_color-control_stroke-on_accent_secondary
        );
        --stroke: var(
          --dui-windows-stroke_color-control_stroke-on_accent_default
        );

        box-shadow: inset 0px var(--elevation-y) 0px 0px var(--elevation-stroke),
          inset 0px 0px 0px 1px var(--stroke);

        &:hover {
          --fill: var(--dui-windows-fill_color-accent-secondary);
          --text: var(--dui-windows-fill_color-text_on_accent-primary);
        }

        &:active {
          --fill: var(--dui-windows-fill_color-accent-tertiary);
          --text: var(--dui-windows-fill_color-text_on_accent-secondary);

          box-shadow: inset 0px var(--elevation-y) 0px 0px
              var(--elevation-stroke-active, --elevation-stroke),
            inset 0px 0px 0px 1px var(--stroke-active, --stroke);
        }
      }
    }

    &:focus-visible {
      outline: 2px solid var(--focus-outline);
      outline-offset: 1px;
    }
  }
}
