.toggle-switch {
  $el: .toggle-switch;

  all: unset;
  border-radius: 9999px;
  border-style: solid;
  height: 18px;
  width: 38px;
  position: relative;
  transition: background-color 150ms;
  will-change: background-color;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @mixin controlColors;

  &:active:not([disabled]) $(el)__thumb {
    width: 17px;
    transform: translate(calc(0% + 3px), -50%);
    left: 0%;
  }

  &[data-state="checked"] $(el)__thumb {
    transform: translate(calc(-100% - 3px), -50%) !important;
    left: 100% !important;
  }

  .windows & {
    border-width: 1px; /* default */

    &:active:not([disabled]) {
      /* ToggleSwitch doesn't have a changing border-color when active (like f.e. checkbox has) */
      --border: var(--dui-windows-stroke_color-control_strong_stroke-default);
      --symbol: var(--dui-windows-fill_color-text-secondary);
    }

    &[data-state="checked"] {
      .dui-light& {
        /* TODO: add token for light-elevation-circle (= gradient) */
        --thumb-border: rgba(0, 0, 0, 0.1);
      }

      &:active:not([disabled]) {
        --symbol: var(--dui-windows-fill_color-text_on_accent-primary);
      }
    }
  }

  &__thumb {
    background-color: currentColor;
    box-shadow: 0 0 0 1px var(--thumb-border, transparent);
    border-radius: 9999px;
    display: block;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(calc(0% + 3px), -50%);
    /* TODO: add animations according to spec */
    transition: all 150ms;
    width: 12px;
    will-change: transform;
  }
}
